In [45]:
import pandas as pd

In [46]:
df1=pd.read_csv('dataseta.csv')
df1.head()

,Role,Companies,Location,Experience,Skills
0,Data Scientist/ Academic Counselor,GREAT LAKES E-LEARNING SERVICES PRIVATE LIMITED,"Chennai, Bengaluru",2-7 Yrs,Data Science\nArtificial Intelligence\ntrainin...
1,Data Scientist,Shell India Markets Private Limited,Chennai,5-7 Yrs,Data Science\nMultivariate Analysis\nFactor An...
2,Senior Data Scientist,Decision Point,Gurgaon,3-5 Yrs,Azure\ntimeseries forecasting\nMachine Learnin...
3,Data Scientist - Machine Learning & Statistica...,Talent Stock Solutions,Delhi,2-5 Yrs,Data Science\nR\nC\nData Scientist\nStatistica...
4,Data Scientist,Zen3Tech (A Tech Mahindra Company),Hyderabad,3-8 Yrs,R\nA/B Testing\nData Manipulation\nMachine Lea...

In [47]:
df1.shape

(1282, 5)

In [48]:
df2=pd.read_csv('datasetb.csv')
df2.head()

,Role,Companies,Location,Experience,Skills
0,Data Science/analysis Expert - Machine Learning,Catalyst,Bengaluru,2-6 Yrs,IT Skills\nPython\nData Science\nMachine Learn...
1,Internship ON Python DATA Science AND Machine ...,Wozti Infotech,"Thrissur, Kozhikode, Kochi",0-1 Yrs,IT Skills\nData Science\nData sc\nPython
2,Data Science & Machine Learning Engineer,Pactera Technologies India Private Limited,Hyderabad,2-5 Yrs,Decision Trees\nMachine Learning\nPython\nIT S...
3,Data Science Engineer - ETL/Python/R,DATA LABS,Pune,0-1 Yrs,IT Skills\nPython\nTesting\nTableau\nData Scie...
4,Data Science - Intern,zeotap,Bengaluru,0-1 Yrs,Computer science\nHealth insurance\nISO 27001\...

In [49]:
df2.shape

(565, 5)

In [50]:
dff=df1.merge(df2,how='outer')
dff.head()

,Role,Companies,Location,Experience,Skills
0,Data Scientist/ Academic Counselor,GREAT LAKES E-LEARNING SERVICES PRIVATE LIMITED,"Chennai, Bengaluru",2-7 Yrs,Data Science\nArtificial Intelligence\ntrainin...
1,Data Scientist/ Academic Counselor,GREAT LAKES E-LEARNING SERVICES PRIVATE LIMITED,"Chennai, Bengaluru",2-7 Yrs,Data Science\nArtificial Intelligence\ntrainin...
2,Data Scientist,Shell India Markets Private Limited,Chennai,5-7 Yrs,Data Science\nMultivariate Analysis\nFactor An...
3,Data Scientist,Shell India Markets Private Limited,Chennai,5-7 Yrs,Data Science\nMultivariate Analysis\nFactor An...
4,Senior Data Scientist,Decision Point,Gurgaon,3-5 Yrs,Azure\ntimeseries forecasting\nMachine Learnin...

In [51]:
dff.shape

(1828, 5)

In [52]:
dff.isnull().sum()

Role           0
Companies      0
Location       0
Experience    16
Skills        19
dtype: int64

In [53]:
dff['Experience'].fillna('0 Yrs',inplace=True)

In [54]:
dff.isnull().sum()

Role           0
Companies      0
Location       0
Experience     0
Skills        19
dtype: int64

In [55]:
dff['Skills']=dff['Skills'].fillna('Basics of DS')

In [56]:
dff.isnull().sum()

Role          0
Companies     0
Location      0
Experience    0
Skills        0
dtype: int64

In [57]:
dff[dff.duplicated()]

,Role,Companies,Location,Experience,Skills
1,Data Scientist/ Academic Counselor,GREAT LAKES E-LEARNING SERVICES PRIVATE LIMITED,"Chennai, Bengaluru",2-7 Yrs,Data Science\nArtificial Intelligence\ntrainin...
3,Data Scientist,Shell India Markets Private Limited,Chennai,5-7 Yrs,Data Science\nMultivariate Analysis\nFactor An...
5,Senior Data Scientist,Decision Point,Gurgaon,3-5 Yrs,Azure\ntimeseries forecasting\nMachine Learnin...
7,Data Scientist - Machine Learning & Statistica...,Talent Stock Solutions,Delhi,2-5 Yrs,Data Science\nR\nC\nData Scientist\nStatistica...
9,Data Scientist,Zen3Tech (A Tech Mahindra Company),Hyderabad,3-8 Yrs,R\nA/B Testing\nData Manipulation\nMachine Lea...
...,...,...,...,...,...
1711,Chief Data Scientist with an Leading Learning ...,SKILLVENTORY,Bengaluru,10-20 Yrs,Data Science\nR\nData Mining\nPython
1713,Senior Data Scientist,Flipkart,Bengaluru,2-7 Yrs,Pytorch\nTensorflow\nData Science\nNLP\nAlgori...
1715,Data Scientist | Contract on Deloitte Payroll ...,Deloitte,Bengaluru,7-12 Yrs,Data Science\nPredictive Modeling\nLogistic Re...
1728,MIS Executive / Data Analyst / Research Analyt...,GABA Consultancy services,"Faridabad, Delhi NCR, Ghaziabad",0-5 Yrs,fresher data analyst\nPower Bi\nProcess Analys...
1816,Graduate Engineer Trainee,National Payments Corporation of India,"Chennai, Mumbai, Hyderabad",0-2 Yrs,Data Science\nGo Getter\nEmerging Technologies...

In [58]:
dff=dff.drop_duplicates()

In [59]:
dff[dff.duplicated()]

Empty DataFrame
Columns: [Role, Companies, Location, Experience, Skills]
Index: []

In [60]:
dff.shape

(1510, 5)

In [61]:
dff.head()

,Role,Companies,Location,Experience,Skills
0,Data Scientist/ Academic Counselor,GREAT LAKES E-LEARNING SERVICES PRIVATE LIMITED,"Chennai, Bengaluru",2-7 Yrs,Data Science\nArtificial Intelligence\ntrainin...
2,Data Scientist,Shell India Markets Private Limited,Chennai,5-7 Yrs,Data Science\nMultivariate Analysis\nFactor An...
4,Senior Data Scientist,Decision Point,Gurgaon,3-5 Yrs,Azure\ntimeseries forecasting\nMachine Learnin...
6,Data Scientist - Machine Learning & Statistica...,Talent Stock Solutions,Delhi,2-5 Yrs,Data Science\nR\nC\nData Scientist\nStatistica...
8,Data Scientist,Zen3Tech (A Tech Mahindra Company),Hyderabad,3-8 Yrs,R\nA/B Testing\nData Manipulation\nMachine Lea...